
@import "../common";
#like-title{
  left: 20px;
  font-size: 160%;
  color: #050555;
  position: absolute;
}
.list {
  margin-top:20px;

  .list-item {
    display: block;
      width: 1200px;
      height: 290px;
      margin: 5px;

      font-size: 16px;
      color: #333;
      img {
          display: inline-block;
          width: $list-item-img-width;
          height: $list-item-img-length;
          cursor: pointer;
      }
      .list-item-title{
        margin:10px;
        height: 200px;
        width:660px;
        font-size: 26px;
        display: inline-block;
      }
      .ist-item-stars{
        margin:10px;
        height: 100px;
        font-size: 20px;
        display: inline-block;
      }

      .list-item-channel {
        margin: 10px;
        display: inline-block;
        margin-top: 77px;
        font-size: 26px;
        color: #ffb400;
        float: right;

        .i{
            display: inline-block;
            color:#ffb400;
            margin:10px;
            cursor: pointer;

        }
    }

      &>span:nth-child(2) {
        cursor: pointer;
        color: #f34d41;
    }
  }
}
